@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p class="abtp">Welcome to our lotion company, where we are passionate about creating high-quality skincare products that nourish and hydrate your skin.</p>

<img src="../Images/img.jpeg" alt="">

<p class="abtp">
    At our company, we understand that every individual has unique skin needs, which is why we offer a wide range of lotions to cater to all skin types. Our team of experts carefully selects the finest ingredients that are both effective and gentle on the skin.</p>

<p class="abtp">
    We are committed to delivering exceptional customer service, and we strive to create an excellent experience for our customers. We take pride in the quality of our products and the care that goes into making them.</p>

<p class="abtp">
    Our mission is to help you achieve healthy, radiant, and youthful-looking skin. We believe that everyone deserves to feel confident and beautiful in their own skin, and our lotions are designed to help you achieve just that.</p>

<p class="abtp">
    Thank you for choosing our lotion company as your go-to destination for all your skincare needs. We look forward to being a part of your skincare journey and helping you achieve the beautiful skin you deserve.</p>
