@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="pvcp">
    At our lotion company, we are committed to protecting your privacy and ensuring the security of your personal information.
    This Privacy Policy outlines our policies and practices for collecting, using, and disclosing your personal information when you visit our website or use our products.
</p>

<p class="pvcp">
    Information Collection and Use:<br>
    When you visit our website, we may collect personal information such as your name, email address, phone number, shipping and billing address,
    and other details necessary to process your order. We may also collect information about your device, including your IP address and browser information.
</p>

<p class="pvcp">
    We use the information we collect to provide you with the best possible service, including processing your orders, improving our products and services,
    and communicating with you about promotions and updates. We may also use your information to comply with legal and regulatory requirements.
</p>

<p class="pvcp">
    Information Sharing:<br>
    We do not sell or rent your personal information to third parties. We may share your information with service providers who assist us in processing your orders,
    such as shipping companies or payment processors. We may also share your information with government or law enforcement agencies if required by law.
</p>

<p class="pvcp">We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, we cannot guarantee the security of your information transmitted to us online.</p>

<p class="pvcp">
    Cookies:<br>
    Our website uses cookies, which are small text files that are stored on your device. We use cookies to enhance your browsing experience, track usage, and personalize your preferences.
    You can choose to disable cookies in your browser settings, but this may impact your ability to use our website.
</p>

<p class="pvcp">
    Updates to Privacy Policy:<br>
    We reserve the right to update this Privacy Policy at any time. We will notify you of any changes by posting the new Privacy Policy on our website.
</p>

<p class="pvcp">
    Contact Us:</b>
    If you have any questions or concerns about our Privacy Policy, or if you wish to access or correct your personal information, please contact us at [insert contact information].
</p>